* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Formattazione pagina */
body {
  background-color: #F6F8F9;
  font-family:  Arial, Helvetica, sans-serif;
  
}

.container {
  width: 70%;
  
}

 main, .container {
margin: 0% 15%;
background-color: white;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-top: solid 3px #F6F8F9;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border: solid 3px #F6F8F9;
}
/* /Formattazione pagina */

/* Header */
.logo-header {
  font-size: 40px;
  vertical-align: middle;
  font-weight: 800;
}

header img {
  vertical-align: middle;
 
}

header h1 {
  display: inline-block;
  font-size: 30px;
 

}

header {
  margin-bottom: 40px;
  background-color: white;
  padding: 10px;
}

/* /Header */

/* Menù a bottoni  */
.menu-bottoni {
  border-bottom: solid 2px #F6F8F9;
  padding: 10px 30px; 
 

}

.menu-bottoni button:first-child {
  margin-left: 50px;
}

.menu-bottoni button {
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 10px;
  margin-bottom: 3px;
  height: 25px;
  
}

.add-task {
   background-color: #46ADF1;
  color: white;
  border: 1px solid #46ADF1 ;
  margin-left: 50px;}

.add-section {
  background-color: white;
  border: 1px solid #CDD2D6;
  color: #CDD2D6;

}
/* /Menù a bottoni  */

/* Lista Tasks */
ul, li{
list-style: none;
}

ul li h3 {
  color: #434750;
}

ul li h3::before {
  content: "\25BC";
}

.list {
 padding: 50px;

}

.list ul {
  margin-bottom: 40px;
}

li {
  margin: 20px;
}

ul li h3::before{
  content: \25BC;
}
.tag {
  
  border-radius: 12px;
  padding: 7px 10px;
  font-size: 10px;
  color: white;
}

.editorial {
  background-color: #46AAEA;
}

.q1-goals {
  background-color: #9C70E5;
}

.recruiting {
  background-color: #64C0A9;
}

.mobile{
  background-color: #F29E33 ;
}

.website {
  background-color: #D763A1;
}

.sales {
  background-color: #B0C925 ;
}




.box::before {
  border: 1px solid;
  padding: 2px;
  font-size: 13px;
  border-radius: 50%;
   
} 

.check::before {
  content: "\2713";
  border-color:  green;

}

.cross::before {
  content: "\2715";
  border-color: red;
}






/* /Lista Tasks */